	<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-inverse  navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Lakes Cafe</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#about">About</a></li>
      <% @sections.each do |section| %>
      
      <li><a href="#<%=  section.name %>"><%=  section.name %></a></li>
      
      <% end %>
    </ul>
  
</nav>
<div class='container'>
	    	    <img id="logo" src="lakesCafeLogo.png"></img>
<br><br>
    <div class="jumbotron" id="about">
<h1 class="page-header" style="text-align: center;">Lakes Cafe</h1>
<br><br>
<p>Located in Perham Minnesota</p>
<button type="button" class="btn btn-primary btn-lg"><a style="color:black;" href="tel:+12183465920">Call Us!</a></button>
</div>
<br><br>
<h1 id="title" class="title">Menu</h1>
<br><br><br>
<% @headings.each do |heading| %>

		<h1 class="page-header" id="<%=  heading.name %>" class="heading"><%=  heading.name %></h1>
		<%  @sections.each do |section| %>
		<% if section.heading_id == heading.id %>
		<div class="well well-lg">
		<h3 id="<%=  section.name %>" class="section container-fluid"><%= section.name %></h3>
		<p><%=section.description%></p>
		<table class="table table-striped">
			<tbody>
			
		
		<% @items.each do |item|%>
		<% if item.section_id == section.id %>
		<tr>		
		<td><%= item.name%></td>
		<td><%= item.description%></td>
		<% if item.price.present? %>
		<td style="text-align: right;">$<%= item.price%></td>
		<%end%>
		</tr>
		
		<% @subitems.each do |subitem|%>
		<% if subitem.item_id == item.id %>
		
		<tr>		
		<td style="font-style: italic; padding-left: 3em;"><%= subitem.name%></td>
		<td style="font-style: italic;"><%= subitem.description%></td>
		<td style="font-style: italic; text-align: right;">$<%= subitem.price%></td>
		</tr>
		
		<%end%>
		<%end%>
		<%end%>
		<%end%>
		</tbody>
		</table>
		</div>
		<%end%>
		<%end%>
		<br><br><br>
		<%end%>
		</div>
		</div>
		<style>
		  body {
      position: relative; 
  }
		.wholeSection{
			background-color: #97b59b;
			display: block;
		}
			.heading{
				font-size: 3em;
				text-align: right;
				color: #2b5226;
			}
			.section{
				font-size: 2.5em;
				text-align: center;
				color: #2b5226;
			}
			.itemName{
				font-size: 2em;
				text-align: left;
				color: #2b5226;
			}
			.itemDescription, .itemPrice{
				font-size: 1em;
				text-align: right;
				color: #2b5226;
			}
			#logo{
				float: left;
			}
			#navBar{
				width: 100%;
				margin-bottom: 16px;
				margin-top: 8px;
			}
			
		</style>
		</body>
