<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-inverse  navbar-collapse">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<div class="navbar-header">
					Lakes Cafe
				</div>
			</a>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#about">About</a>
				</li>
				<% @headings.each do |heading| %>
					<% heading.sections.where(:visible => true).each do |section| %>
						<li>
							<a href="#<%=  section.name %>"><%= section.name %></a>
						</li>
					<% end %>
				<% end %>
			</ul>
		</nav>
		<div class='container'>
			<a href="/">
				<img id="logo" src="lakesCafeLogo.png"></img>
			</a>
			<br><br>
			<div class="jumbotron" id="about">
				<h1 class="page-header" style="text-align: center;">Lakes Cafe</h1>
				<br><br>
				<p>Located in Perham Minnesota. It's a great place for groups of all sizes! We even have a room in the back that is perfect for private parties. Please call ahead to ensure availability.</p>
				<button type="button" class="btn btn-primary btn-lg">
					<a style="color:black;" href="tel:+12183465920">Call Us!</a>
				</button>
				<h3 id="hour-tag">Hours</h3>
				<div id="hours">
					<table>
						<tbody>
							<tr>
								<td>Sunday</td>
								<td class="time">8AM - 2PM</td>
							</tr>
							<tr>
								<td>Monday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
							<tr>
								<td>Tuesday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
							<tr>
								<td>Wednesday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
							<tr>
								<td>Thursday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
							<tr>
								<td>Friday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
							<tr>
								<td>Saturday</td>
								<td class="time">5:30AM - 3PM</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br><br>
			<h1 id="title" class="title">Menu</h1>
			<hr>
			<br><br><br>
			<% @headings.each do |heading| %>
				<h1 class="heading" id="<%=  heading.name %>"><%= heading.name %></h1>
				<div class="single-heading">
					<%  heading.sections.where(:visible => true).each do |section| %>
						<div class="well well-lg grey-area">
							<h3 style='color: white;' id="<%=  section.name %>" class="section"><%= section.name %></h3>
							<p><%=section.description%></p>
							<table class="table">
								<tbody>
									<% section.items.each do |item|%>
										<tr>
											<td><%= item.name%></td>
											<td><%= item.description%></td>
											<% if item.price.present? %>
												<td style="text-align: right;">$<%= item.price%></td>
											<%end%>
										</tr>
										<% item.sub_items.each do |subitem|%>
											<tr>
												<td style="font-style: italic; padding-left: 3em;"><%= subitem.name%></td>
												<td style="font-style: italic;"><%= subitem.description%></td>
												<td style="font-style: italic; text-align: right;">$<%= subitem.price%></td>
											</tr>
										<%end%>
									<%end%>
								</tbody>
							</table>
						</div>
					<%end%>
				</div>
				<br><br><br>
			<%end%>

		</div>
	</div>
</div>
<style>
	body {
		position: relative;
	}
	.wholeSection {
		background-color: #97b59b;
		display: block;
	}
	.heading {
		font-size: 3em;
		text-align: right;
		color: #2b5226;
	}
	.section {
		font-size: 2.5em;
		text-align: center;
		color: #2b5226;
	}
	.itemName {
		font-size: 2em;
		text-align: left;
		color: #2b5226;
	}
	.itemDescription,
	.itemPrice {
		font-size: 1em;
		text-align: right;
		color: #2b5226;
	}
	#logo {
		float: left;
	}
	#navBar {
		width: 100%;
		margin-bottom: 16px;
		margin-top: 8px;
	}
	#hours {
		text-align: right;
		font-size: 1.5em;
	}
	.time {
		padding-left: 32px;
	}
	#hour-tag {
		text-decoration: underline;
		padding-left: 17%;
	}
	@media print {
		.single-heading {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		.single-heading .well {
			max-width: 33% !important;
		}
		.container,
		container-fluid {
			width: 100vw;
		}
	}
</style>
</body>
