<style>
  .setFixed {
    width: auto;
    image-height: 512px;
    margin: 20px;
  }
  body {
    overflow: break-line;
  }
  #hours {
    text-align: right;
    font-size: 1.5em;
  }
  .time {
    padding-left: 32px;
  }
  #hour-tag{
    text-decoration: underline;
    padding-left: 17%;
  }
</style>
<div class='container'>
  <img id="logo" src="lakesCafeLogo.png" style="float: left;"></img>
  <br><br>
  <div class="jumbotron" id="about">
    <h1 class="page-header" style="text-align: center;">Lakes Cafe</h1>
    <br><br>
    <p>Located in Perham Minnesota. It's a great place for groups of all sizes! We even have a room in the back that is perfect for private parties. Please call ahead to ensure availability.</p>
    <button type="button" class="btn btn-primary btn-lg">
      <a style="color:black;" href="tel:+12183465920">Call Us!</a>
    </button>
    <h3 id="hour-tag">Hours</h3>
    <div id="hours">
      <table>
        <tbody>
          <tr>
            <td>Sunday</td>
            <td class="time">8AM - 2PM</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td class="time">5:30AM - 3PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
  <h1 id="title" class="title">Menu</h1>

  <% @headings.each do |heading| %>
    <div>
      <h1 class="heading" id="<%=  heading.name %>"><%= heading.name %></h1>
      <% a=2 %>
        <% heading.sections.where(:visible => true).each do |section| %>
          <% a += 1 %>
            <% if (a == 3) %>
              <br>
            </div>
            <div class="row">
              <% a = 0 %>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <% if section.imageURL.present? %>
                      <%=link_to( image_tag(section.imageURL), section_path(section), :class=>"setFixed img-rounded") %>
                    <% else %>
                      <%=link_to( image_tag("/egg.png"), section_path(section), :class=>"setFixed img-rounded") %>
                    <% end %>
                    <div class="caption">
                      <h3 style="text-align: center;"><%= section.name %></h3>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <% if section.imageURL.present? %>
                      <%=link_to( image_tag(section.imageURL), section_path(section), :class=>"setFixed img-rounded") %>
                    <% else %>
                      <%=link_to( image_tag("/egg.png"), section_path(section), :class=>"setFixed img-rounded") %>
                    <% end %>
                    <div class="caption">
                      <h3 style="text-align: center;"><%= section.name %></h3>
                    </div>
                  </div>
                </div>
              <%end%>
            <%end%>
          </div>
        <%end%>
        <%= link_to("View as single page", onepage_url()) %>
