<style>
  .setFixed{
    width: auto;          
    image-height: 512px;           
    margin: 20px;   
  }
  body{
    overflow: break-line;
  }
</style>
<div class='container'>
  <img id="logo" src="lakesCafeLogo.png" style="float: left;"></img>
  <br><br>
  <div class="jumbotron" id="about">
    <h1 class="page-header" style="text-align: center;">Lakes Cafe</h1>
    <br><br>
    <p>Located in Perham Minnesota</p>
    <button type="button" class="btn btn-primary btn-lg">
      <a style="color:black;" href="tel:+12183465920">Call Us!</a>
    </button>
    <table> 
      <tbody>
        <tr jstcache="271" jsinstance="0"> 
          <th jstcache="272" class="widget-pane-info-openhours-header widget-pane-info-openhours-today" jsan="7.widget-pane-info-openhours-header,7.widget-pane-info-openhours-today"> 
            <div jstcache="273">Sunday</div> 
            <div jstcache="274" class="" style="display:none"></div> 
          </th> 
          <td class="widget-pane-info-openhours-data"> 
            <ul jstcache="275" class="widget-pane-info-openhours-interval widget-pane-info-openhours-today" jsan="7.widget-pane-info-openhours-interval,7.widget-pane-info-openhours-today"><li jstcache="276" jsinstance="*0">8AM–2PM</li>
            </ul> 
            <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
              <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span> 
              <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
            </div> 
          </td> 
        </tr>
        <tr jstcache="271" jsinstance="1"> 
          <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
            <div jstcache="273">Monday</div> 
            <div jstcache="274" class="" style="display:none"></div> 
          </th> <td class="widget-pane-info-openhours-data" jstcache="0"> 
          <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
            <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
          </ul> 
          <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
            <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span>
            <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
          </div> 
        </td> 
      </tr>
      <tr jstcache="271" jsinstance="2"> 
        <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
          <div jstcache="273">Tuesday</div> 
          <div jstcache="274" class="" style="display:none">
          </div> 
        </th> 
        <td class="widget-pane-info-openhours-data" jstcache="0"> 
          <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
            <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
          </ul> 
          <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
            <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span> 
            <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
          </div> 
        </td> 
      </tr>
      <tr jstcache="271" jsinstance="3"> 
        <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
          <div jstcache="273">Wednesday</div> 
          <div jstcache="274" class="" style="display:none">
          </div> 
        </th> 
        <td class="widget-pane-info-openhours-data" jstcache="0"> 
          <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
            <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
          </ul> 
          <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
            <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span> 
            <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
          </div> </td> </tr><tr jstcache="271" jsinstance="4">
          <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
            <div jstcache="273">Thursday</div> 
            <div jstcache="274" class="" style="display:none"></div> 
          </th> 
          <td class="widget-pane-info-openhours-data" jstcache="0"> 
            <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
              <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
            </ul> 
            <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
              <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span> 
              <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
            </div> 
          </td> 
        </tr>
        <tr jstcache="271" jsinstance="5"> 
          <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
            <div jstcache="273">Friday</div> 
            <div jstcache="274" class="" style="display:none">
            </div> 
          </th> 
          <td class="widget-pane-info-openhours-data" jstcache="0"> 
            <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
              <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
            </ul> 
            <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
              <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours </span> 
              <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span> 
            </div> 
          </td> 
        </tr>
        <tr jstcache="271" jsinstance="*6"> 
          <th jstcache="272" class="widget-pane-info-openhours-header" jsan="7.widget-pane-info-openhours-header"> 
            <div jstcache="273">Saturday</div> 
            <div jstcache="274" class="" style="display:none">
            </div> 
          </th> 
          <td class="widget-pane-info-openhours-data" jstcache="0"> 
            <ul jstcache="275" class="widget-pane-info-openhours-interval" jsan="7.widget-pane-info-openhours-interval">
              <li jstcache="276" jsinstance="*0">5:30AM–3PM</li>
            </ul> 
            <div jstcache="277" class="widget-pane-info-openhours-special" style="display:none"> 
              <span jstcache="278" class="section-info-green" style="display:none"> Holiday hours 
              </span> 
              <span jstcache="279" class="section-info-yellow" style="display:none"> Hours might differ </span>
            </div> 
          </td>
        </tr> 
      </tbody>
    </table>
  </div>
  <br><br>
  <h1 id="title" class="title">Menu</h1>

  <% @headings.each do |heading| %>
  <div>
  <h1 class="page-header" id="<%=  heading.name %>" class="heading"><%=  heading.name %></h1>
  <% a=2 %>
  <% heading.sections.each do |section| %>
  <% a += 1 %>
  <% if (a == 3) %>
  <br>
  </div>
  <div class="row">
    <% a = 0 %>
    <div class="col-md-4">
      <div class="thumbnail">
        <% if section.imageURL.present? %>
        <%=link_to( image_tag(section.imageURL), section_path(section), :class=>"setFixed img-rounded") %>
        <% else %>
        <%=link_to( image_tag("/egg.png"), section_path(section), :class=>"setFixed img-rounded") %>
        <% end %>
        <div class="caption">
          <h3 style="text-align: center;"><%= section.name %></h3>
        </div>
    </div>
  </div>
  <% else %>
  <div class="col-md-4">
    <div class="thumbnail">
      <% if section.imageURL.present? %>
      <%=link_to( image_tag(section.imageURL), section_path(section), :class=>"setFixed img-rounded") %>
      <% else %>
      <%=link_to( image_tag("/egg.png"), section_path(section), :class=>"setFixed img-rounded") %>
      <% end %>
      <div class="caption">
        <h3 style="text-align: center;"><%= section.name %></h3>
      </div>
  </div>
</div>
<%end%>
<%end%>
</div>
<%end%>
<%= link_to("View as single page", headings_path()) %>