<script>
  let navigate = (url) => {
    $(".container").css("opacity", "0");
    $("body").css("background", "url('/wood.jpg')")
    setTimeout(() => window.location = url, 500);
  }

  $(document).ready(function () {
    $("#contents").css("opacity", "1");
    $("#contents").css("top", "-" + $("#contents").height() + "px");
    setTimeout(() => $(".container").css("top", "0px"), 1000);
    $("#contents").animate({
      top: "0px"
    }, 1000)
  });
</script>
<style>
  #soups {
    padding: 32px;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .soup {}
  .soup-image {
    width: 100% !important;
    height: auto;
  }
  .item-name-on-picture {
    background-color: rgba(0,0,0,.7);
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: rgb(130, 172, 134) !important;
    text-shadow: -1px 0 rgb(40,81,41), 0 1px rgb(40,81,41), 1px 0 rgb(40,81,41), 0 -1px rgb(40,81,41);
  }
  .thumbnail:hover .item-name-on-picture {
    background-color: rgba(0,0,0,0);
    border-radius: 16px;
    transition: background-color 0.3s;
  }
  #contents {
    position: relative;
  }
  .setFixed {
    width: auto;
    image-height: 512px;
    margin: 20px;
  }
  body {
    background-image: none;
    background-color: #66625f;
    overflow: break-line;
  }
  #hours {
    text-align: right;
    font-size: 1.5em;
  }
  .time {
    padding-left: 32px;
  }
  #hour-tag {
    text-decoration: underline;
    padding-left: 17%;
  }
  .item img {
    object-fit: cover;
    height: 450px !important;
    width: 100%;
  }
  .container,
  container-fluid {
    background-image: url("/wood.jpg");
    min-width: 75vw;
    padding: 128px;
  }
  @media only screen and (max-width: 500px) {
    .container,
    .container-fluid {
      padding: 0;
    }
    body {
      background-color: transparent;
    }
  }
  .lakes-cafe-heading {
    display: inline-block;
    left: 10vw;
    position: relative;
    text-align: center;
    font-size: 4em;
    background-color: rgba(0,0,0,.5);
  }
  .thumbnail {
    border: 0 solid white;
    filter: none;
    transition: filter 0.4s;
    background-color: rgba(0,0,0,0);
    z-index: 3;
  }
  .thumbnail:hover img {
    transform: scale3d(1.1, 1.1, 1);
    filter: none;
    z-index: -1;
    transition: filter 0.4s, transform 0.2s;
  }
  .thumbnail img {
    transform: none;
    filter: brightness(.8);
    transition: filter 0.4s, transform 0.2s;
    max-height: 512px;
  }
  .c-desc {
    background-color: rgba(0,0,0,.5);
  }
  .carousel-inner {
    box-shadow: 0 0 45px black;
  }
  #logo {
    display: inline-block;
  }
  .container {
    transition: opacity 0.5s;
  }
</style>
<div class='container'>
  <div id="contents">
    <img id="logo" src="lakesCafeLogo.png"></img>
    <h1 class="lakes-cafe-heading">Lakes Cafe</h1>
    <br/>
    <br/><br/>

    <% if @images.count != 0 %>
      <div id="lakesCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% x = 0 %>
            <% @images.each do |image| %>
              <% if image.id == @images.first.id %>
                <li data-target="#lakesCarousel" data-slide-to="<%= x %>" class="active"></li>
              <% else %>
                <li data-target="#lakesCarousel" data-slide-to="<%= x %>"></li>
              <% end %>
              <% x = x + 1 %><% end %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <% @images.each do |image| %>
                <% if image.id == @images.first.id %>
                  <div class="carousel-item item active">
                  <% else %>
                    <div class="carousel-item item">
                    <% end %>
                    <img class="d-block img-fluid carousel-image" src="<%= image.image_url %>" alt="<%= image.image_url %>">
                    <% if !image.description.empty? %>
                      <div class="carousel-caption d-none d-md-block c-desc">
                        <h3><%= image.description %></h3>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control left" href="#lakesCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#lakesCarousel" data-slide="next">&rsaquo;</a>
            </div>
          <% end %>

          <br><br>
          <div class="jumbotron" id="about">
            <p>Located in Perham Minnesota. It's a great place for groups of all sizes! We even have a room in the back that is perfect for private parties. Please call ahead to ensure availability.</p>

            <a style="color:black;" href="tel:+12183465920">
              <button type="button" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-earphone"></span>&nbsp; Call Us!
              </button>
            </a>
            <h3 id="hour-tag">Hours</h3>
            <div id="hours">
              <table>
                <tbody>
                  <tr>
                    <td>Sunday</td>
                    <td class="time">8AM - 2PM</td>
                  </tr>
                  <tr>
                    <td>Monday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                  <tr>
                    <td>Tuesday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                  <tr>
                    <td>Wednesday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                  <tr>
                    <td>Thursday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                  <tr>
                    <td>Friday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                  <tr>
                    <td>Saturday</td>
                    <td class="time">5:30AM - 3PM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br><br>
          <% if @Soups.length > 0 %>
            <h3 class="title">Today's Items!</h3>
            <div id="soups">
              <h3 class="title">Soups</h3>
              <br>
              <% @Soups.each do |soup| %>
                <div class='col-md-4'>
                  <div class="soup thumbnail">
                    <%= image_tag(soup.image_url, class: "soup-image img-rounded") %>
                    <h2 class="item-name-on-picture caption"><%= soup.name %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <h1 id="title" class="title">Menu</h1>
          <hr>
          <% @headings.each do |heading| %>
            <div>
              <h1 class="heading" id="<%=  heading.name %>"><%= heading.name %></h1>
              <% a=2 %>
                <% heading.sections.where(:visible => true).each do |section| %>
                  <% a += 1 %>
                    <% if (a == 3) %>
                      <br>
                    </div>
                    <div class="row">
                      <% a = 0 %><% end %>
                      <div class="col-md-4">
                        <div class="thumbnail" onclick="navigate('<%= section_path(section) %>')">
                          <img src="<%= section.imageURL.present? ? section.imageURL : "/egg.png" %>" class="img-rounded"></img>
                          <h2 class="item-name-on-picture caption"><%= section.name %></h2>
                        </div>
                      </div>
                    <%end%>
                  </div>
                <%end%>
                <%= link_to("View as single page", onepage_url()) %>
              </div>
            </div>
