<style>
	.container-fluid {
		transition: display 0.3s, opacity 0.5s;
	}
	.item-name-on-picture {
		border: -10px;
		background-color: rgba(0,0,0,.7);
		border-radius: 16px;
		transition: background-color 0.3s;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
	.item-name-on-picture h3 {
		transition: color 0.3s;
	}
	.thumbnail:hover .item-name-on-picture {
		background-color: rgba(0,0,0,0);
		border-radius: 16px;
		transition: background-color 0.3s;
	}
	.thumbnail .item-name-on-picture h3 {
		font-size: 2em;
		color: rgb(130, 172, 134);
		text-shadow: 0, 0, 10px rgb(40,81,41), 0, 0, 2px rgb(40,81,41);
	}
	.thumbnail {
		border: 0 solid white;
		filter: none;
		transition: filter 0.3s;
		background-color: rgba(0,0,0,0);
	}
	.thumbnail:hover img {
		filter: none;
		box-shadow: 0 0 96px black;
		transition: filter 0.2s, transform 0.2s, box-shadow 0.4s;
		transform: scale3d(1.1, 1.1, 1);
	}
	.thumbnail img {
		filter: brightness(.7);
		transition: filter 0.2s, transform 0.2s;
		max-height: 512px;
	}
	.big-caption {
		transition: opacity 0.3s;
		text-align: center;
		opacity: 0;
		font-size: 2em;
		background-color: rgba(0,0,0,.7);
		border-radius: 16px;
		position: absolute;
		top: 192px;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		padding: 16px;
	}
	.parallax {
		box-shadow: 0 0 20px 6px black;
		cursor: pointer;
		transition: height 0.2s, background-size 0.2s;
		background-image: url("<%= @section.image_file_name.nil? ? "/lakesCafeLogo.png" : "/section--" + @section.id.to_s + "." +  @section.image_file_name.split(".").last %>");
		height: 512px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.thumbnail a img {
		max-height: 512px;
	}
	#space {
		margin-top: 1024px;
		width: 100%;
	}
	#logo{
		cursor: pointer;
	}
</style>
<script>
	$(document).ready(function () {
		$('html, body').animate({
			scrollTop: $('#scroll-to-me').offset().top
		}, {
			duration: 1200,
			easing: "easeInOutQuart"
		});
		setTimeout(() => {
			$("#space").css("display", "none");
			$(".big-caption").css("opacity", "1");
			$('html, body').animate({
				scrollTop: $('#scroll-to-me').offset().top
			}, 0)
		}, 1210)
	});

	let visible = false;
	let hideStuff = () => {
		$('html, body').animate({
			scrollTop: $('.parallax').offset().top
		}, 300);
	}
	let showHideBackground = () => {
		visible
			? setTimeout(() => $('html, body').animate({
				scrollTop: $('#header-image').offset().top - 64
			}, 500), 20)
			: hideStuff();
		visible
			? $(".parallax").css("box-shadow", "0 0 20px 6px black")
			: $(".parallax").css("box-shadow", "none");
		visible
			? $(".parallax").css("height", "500px")
			: $(".parallax, body").css("height", "100vh");
		visible
			? $(".parallax").css("background-size", "cover")
			: $(".parallax").css("background-size", "contain");
		visible
			? $(".big-caption").css("opacity", "1")
			: $(".big-caption").css("opacity", "0");
		$(".can-hide, .container-fluid").fadeToggle();
		visible = !visible;
	}

	let navigate = (url) => {
		$(".container-fluid").css("opacity", "0");
		$(".can-hide").css("opacity", "0");
		$(".parallax").css("opacity", "0");
		setTimeout(() => window.location = url, 500);
	}
</script>

	<img onclick="navigate('/')" id="logo" class="can-hide" src="/lakesCafeLogo.png" style="float: left;"></img>

<div id="space"></div>
<div id="scroll-to-me"></div>
<div class="can-hide" style="text-align: center; height:256px;">
	<div class="big-caption">
		<h1><%= @section.name %></h1>
		<% if @section.image_caption.present? %>
			Pictured:
			<%= @section.image_caption %>
		<% end %>
	</div>
</div>
<div id="header-image" class="parallax" onclick="showHideBackground()"></div>
<div id="unclick-location" class="can-hide" style="height:128px;"></div>
<br>
<div class='container can-hide'>
	<br>
	<h1>
		<% @section.description %>
		</h1>
		<table class="food">
			<tbody>
				<% @section.items.each do |item|%>
					<tr>
						<td>
							<p><%= item.name%></p>
						</td>
						<td><%= item.description%></td>
						<% if item.price.present? %>
							<td style="text-align: right;">$<%= item.price%></td>
						<%else%>
							<td style="font-style: italic; text-align: right;"></td>
						<%end%>
					</tr>

					<% item.sub_items.each do |subitem|%>
						<tr>
							<td style="font-style: italic; padding-left: 3em;"><%= subitem.name%></td>
							<td style="font-style: italic;"><%= subitem.description%></td>
							<% if subitem.price.present? %>
								<td style="font-style: italic; text-align: right;">$<%= subitem.price%></td>
							<%else%>
								<td style="font-style: italic; text-align: right;"></td>
							<%end%>
						</tr>
					<%end%>
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="container-fluid">
		<br><br>
		<h1 id="title" class="title">Other
			<%= @section.heading.name %>
			Items</h1>
		<br><br>
		<% a=2 %>
			<div>
				<% @section.heading.sections.each do |section| %>
					<% if section.visible? %>
						<% a += 1 %>
							<% if (a == 3) %>
								<br>
							</div>
							<div class="row">
								<% a = 0 %><% end %>
								<div class="col-md-4">
									<div class="thumbnail" onclick="navigate('<%= section_path(section) %>')">
										<img src="<%= section.image_file_name.nil? ? "/lakesCafeLogo.png" : "/section--" + section.id.to_s + "." +  section.image_file_name.split(".").last %>" class="setFixed img-rounded"></img>
										<div class="item-name-on-picture caption">
											<h3 style="text-align: center;"><%= section.name %></h3>
										</div>
									</div>
								</div>
							<%end%>
						<%end%>
					</div>
				</div>
